.env
__pycache__
.DS_Store
src/mechanician.egg-info
src/mechanician.egg-info/SOURCES.txt
examples/offer_management_assistant/resources/_test_data
test_results
mechanician_tmdb.egg-info
mechanician_arangodb.egg-info
mechanician.egg-info
mechanician_core.egg-info
mechanician_openai.egg-info
.vscode
arango_movie_db.egg-info
