.env
__pycache__
.DS_Store
src/mechanician.egg-info
src/mechanician.egg-info.txt
_test_data
test_results
mechanician_tmdb.egg-info
mechanician_arangodb.egg-info
mechanician.egg-info
mechanician_core.egg-info
mechanician_openai.egg-info
.vscode
arango_movie_db.egg-info
mechanician_offer_mgmt.egg-info
tuning_sessions
archives
dist
build
src/build
mechanician_arango_movie_db.egg-info
mechanician_arango_memory.egg-info
examples/notepad/notepads/*
mechanician_notepad_example.egg-info
mechanician_workflow_example.egg-info
mechanician_mistral.egg-info
docs/_*
examples/_*
mechanician_studio.egg-info
examples/studio_demo/credentials.json
examples/studio_demo/certs/cert.pem
examples/studio_demo/certs/key.pem
examples/studio_demo/data/chromadb

examples/studio_demo/data/users